
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head_includes.html :: head_files"></head>

<title>Change Password</title>
<body>
<div class="container">
    <div style="padding-top: 1em;"></div>
    <div th:replace="fragments/title.html :: title"></div>
    <div style="padding-top: 1em;"></div>
    <div class="row">
		<div class="col-md-12">
	 		<h2 align="center">Change Password</h2>
		</div>
	</div> <!-- row -->
	<div style="padding-top: 1em;">
	<div th:if="${change_password_error != null && change_password_error.length() > 0}"></div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div th:text="${change_password_error}" class="box inputError"></div>
			</div>
			<div class="col-md-2"></div>
		</div>
    </div>
	<form action="#" th:action="@{/change_password_form}" method="post">
	    <!-- User Name -->
	    <div th:if="${user_name_error != null && user_name_error.length() > 0}">
		   <div class="form-group row">
		   	   <div class="col-sm-4"></div>
		   	   	   <span th:text="${user_name_error}" class="inputError"></span>
		       <div class="col-sm-8">
		       </div>
		   </div>
	    </div>
	    <div th:if="${change_type != null && change_type.equals('change_password')}">
	         <input class="invisible" type="text" id="user_name" name="user_name" th:value="${user_name_val}">
	    </div>
	    <div th:unless="${change_type != null && change_type.equals('change_password')}">
	        <div class="form-group row">
				<label for="title" class="col-sm-4 col-form-label">User name:</label>
				<!--  if the user name is OK, fill it in so the user doesn't have to keep retyping it if, for
				      example, the password and the duplicate password don't match. -->
				<div class="col-sm-8">
				   <div th:if="${user_name_val != null && user_name_val.length() > 0}">
				         <input type="text" id="user_name" name="user_name" th:value="${user_name_val}">
				   </div>
				   <div th:unless="${user_name_val != null && user_name_val.length() > 0}">
				         <input type="text" id="user_name" name="user_name" placeholder="User name">
				   </div>
				</div> <!-- col-md-8 -->
			</div> <!--  form-group row -->
	    </div>
		<!-- Current (old) password -->
		<div th:if="${old_password_error != null && old_password_error.length() > 0}">
		   <div class="form-group row">
		   	   <div class="col-sm-4"></div>
		   	   <div class="col-sm-8">
		   	   	   <span th:text="${old_password_error}" class="inputError"></span>
		       </div>
		   </div>
		</div>
		<div class="form-group row">
			<label for="title" class="col-sm-4 col-form-label">Current Password:</label>
			<div class="col-sm-8">
				<input type="password" id="old_password" name="old_password" placeholder="Password">
			</div> <!-- col-sm-8 -->
		</div> <!--  form-group row -->
		<!-- New Password -->
		<div th:if="${new_password_error != null && new_password_error.length() > 0}">
		   <div class="form-group row">
		   	   <div class="col-sm-4"></div>
		   	   <div class="col-sm-8">
		   	   	   <span th:text="${new_password_error}" class="inputError"></span>
		       </div>
		   </div>
		</div>
		<div class="form-group row">
			<label for="title" class="col-sm-4 col-form-label">New Password:</label>
			<div class="col-sm-8">
				<input type="password" id="new_password" name="new_password" placeholder="Password">
			</div> <!-- col-sm-8 -->
		</div> <!--  form-group row -->
		<!-- Confirm Password -->
		<div th:if="${verify_password_error != null && verify_password_error.length() > 0}">
		   <div class="form-group row">
		   	   <div class="col-sm-4"></div>
		   	   	   <span th:text="${verify_password_error}" class="inputError"></span>
		       <div class="col-sm-8"></div>
		   </div>
		</div>
		<div class="form-group row">
			<label for="title" class="col-sm-4 col-form-label">Verify Password:</label>
			<div class="col-sm-8">
				<input type="password" id="verify_password" name="verify_password" placeholder="Password">
			</div> <!-- col-sm-8 -->
		</div> <!--  form-group row -->
		<div class="form-group row">
			<div class="col-sm-4"></div>
			<div class="col-sm-8">
			    <span>
				   <button type="submit" class="btn btn-primary">Change Password</button>
				</span>
				<span>
				    <a th:href="@{/application}" id="cancel" name="cancel" class="btn btn-primary">Cancel</a>
				</span>
			</div>
		</div>
	</form>
</div> <!--  container  -->
</body>
</html>